@model List<TipoProfissionalModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@Html.Partial("_Navegacao")

<main>
    <div class="container">
        <h1>Sou a página tipo profissional</h1>

        <form asp-controller="Administrador" asp-action="CadastrarTipoProfissional">
            <div class="mb-3 d-flex align-items-center">
                <input class="w-100 form-control input-login" type="text" placeholder="Tipo profissional" />
                <i class="bi bi-person-fill icon-login"></i>
            </div>

            <input class="mb-3 btn btn-rounded-1 botao px-4" type="submit" value="cadastrar" />
        </form>



        <div class="text-center">
            <h1 class="display-4">Lista Tipo Profissionais</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (TipoProfissionalModel tipo_profissional in Model)
                        {
                            <tr>
                                <th scope="row">@tipo_profissional.ID</th>
                                <td>@tipo_profissional.NOME_TIPO_PROFISSIONAL</td>
                                <td>
                                    @if (@tipo_profissional.ATIVO == 1)
                                    {
                                        <span>ATIVADO</span>
                                    } else
                                    {
                                        <span>DESATIVADO</span>
                                    }
                            
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a role="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmar" data-id="@tipo_profissional.ID">Info</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="6">Não existem Dados!!!</td></tr>
                    }

                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="confirmar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Alerta!</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deseja ativar ou desativar esse Tipo de Profissional?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <form asp-controller="Administrador" asp-action="AtivarTipoProfissional" method="post">
                                <input type="hidden" id="modal-id" name="modalId" value="" />
                                <button class="btn btn-success" type="submit">aceitar</button>
                            </form>
                            <form asp-controller="Administrador" asp-action="DesativarTipoProfissional" method="post">
                                <input type="hidden" id="modal-id1" name="modalId" value="" />
                                <button class="btn btn-success" type="submit">Recusar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@Html.Partial("_Rodape")

<script>
    $('#confirmar').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botão que acionou o modal
        var id = button.data('id'); // Extrai o ID da linha clicada
        var modal = $(this);
        modal.find('#modal-id').val(id);// Atualiza o campo oculto com o ID da linha clicada
        modal.find('#modal-id1').val(id);// Atualiza o campo oculto com o ID da linha clicada
        console.log(id);
    })
</script>
