@model List<PortfolioModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section CSS {
    <link rel="stylesheet" href="~/css/profissionais.css" />
}

@Html.Partial("_Navegacao")

<main class="container my-5">

    <h1>A SerMais recomenda esses psicólogos</h1>
    <div class="my-2">
        <p>Como agendar uma consulta com psicólogo Online?<br /></p>
        <ul>
            <li>Primeiro passo é escolher um psicólogo ou psiquiatra da sua escolha</li>
            <li>Selecione um horário e agende a consulta</li>
            <li>Nesta área você conseguirá visualizar em quais horários o profissional escolhido pode atender você. Então, basta clicar em agendar horário.</li>
        </ul>
    </div>
    <div class="row">

        @*Informações abaixo vindo do banco*@
        @if (Model != null && Model.Any())
        {
            foreach (PortfolioModel p in Model)
            {
                <div class="col-md-12 my-3">
                    <div class="row box-profissional">
                        <div class="col-md-12 col-lg-6">
                            <div class="p-2">
                                <div class="row">
                                    <div class="col-12 col-md-6 box-img-profissional">
                                        <img class="img-profissional" src="~/img/profiles/@p.IMAGEM_PROFILE" alt="@p.IMAGEM_PROFILE" />
                                    </div>
                                    <div class="col-12 col-md-6 p-2 box-about-profissional">
                                        <p><b>@p.ID_PROFISSIONAL.NOME_COMPLETO</b></p>
                                        <p><span>Psicólogo</span> | <span>@p.ID_PROFISSIONAL.CIDADE</span></p>
                                        <p><b>CRP: </b>@p.ID_PROFISSIONAL.CRP</p>
                                        <p>@p.ESPECIALIDADE</p>
                                    </div>
                                </div>
                                <div class="py-2 box-about-profissional">
                                    <h2>R$ @p.VALOR_CONSULTA</h2>
                                    <p><b>Duração da sessão: </b>@p.DURACAO_SESSAO</p>
                                    <p><i class="bi bi-telephone-fill"></i> @p.TELEFONE</p>
                                    <p><i class="bi bi-whatsapp"></i> @p.CELULAR</p>
                                </div>
                                <div class="">
                                    <a class="mb-3 w-100 btn btn-rounded-1 botao" asp-controller="Profissionais" asp-action="Portfolio" asp-route-id="@p.ID_PROFISSIONAL.ID" asp-route-nome="@p.ID_PROFISSIONAL.NOME.ToLower()">Ver perfil completo</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                <p>Aqui seria o calendário</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @*Fim informações do banco*@


        <div class="text-center mt-5">
            <a class="mb-3 w-100 btn btn-rounded-1 botao" asp-controller="" asp-action="">Carregar mais profissionais</a>
        </div>

    </div>
    @*fim row*@

</main>

@Html.Partial("_Rodape")