@model List<PortfolioModel>;

@section CSS {
    <link rel="stylesheet" href="~/css/portfolio.css" />
}

@Html.Partial("_Navegacao")

<main class="container my-5">
    <h1>Sou a página do profissional</h1>

    <div class="row">

        @*Informações abaixo vindo do banco*@
        @if (Model != null && Model.Any())
        {
            foreach (PortfolioModel p in Model)
            {
                <div class="col-md-12 my-3">
                    <div class="row box-profissional">
                        <div class="col-md-12 col-lg-6">
                            <div class="p-2">
                                <div class="row">
                                    <div class="col-12 col-md-6 box-img-profissional">
                                        <img class="img-profissional" src="~/img/profiles/@p.IMAGEM_PROFILE" alt="imagem do profissional" />
                                    </div>
                                    <div class="col-12 col-md-6 p-2 box-about-profissional">
                                        <p><b>@p.ID_PROFISSIONAL.NOME_COMPLETO</b></p>
                                        <p>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </p>
                                        <p><span>Psicólogo</span> | <span>@p.ID_PROFISSIONAL.CIDADE | @p.ID_PROFISSIONAL.ESTADO</span></p>
                                        <p><b>CRP: </b>@p.ID_PROFISSIONAL.CRP</p>
                                        <p>@p.ESPECIALIDADE</p>
                                    </div>
                                </div>
                                <div class="py-2 box-about-profissional">
                                    <div class="">
                                        <h5>R$ @p.VALOR_CONSULTA</h5>
                                        <p>
                                            <i class="bi bi-currency-dollar icon-portfolio"></i><b> Pague com: </b>@p.FORMAS_PAGAMENTO
                                        </p>
                                    </div>
                                    <p><i class="bi bi-alarm icon-portfolio"></i><b> Duração da sessão: </b>@p.DURACAO_SESSAO</p>
                                    <p><i class="bi bi-people-fill icon-portfolio"></i><b> Atende: </b>@p.ATENDE_CONSULTA</p>
                                    <p><i class="bi bi-telephone-fill icon-portfolio"></i> @p.TELEFONE</p>
                                    <p><i class="bi bi-whatsapp icon-portfolio"></i> @p.CELULAR</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                <p>Aqui seria o calendário</p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="my-4">
                                <h5>FORMAÇÃO E CURSOS</h5>
                                <p>@p.FORMACAO</p>
                            </div>
                            <div class="my-4">
                                <h5>SOBRE MIM</h5>
                                <p>@p.SOBRE</p>
                            </div>
                            <div class="my-4">
                                <h5>AVALIAÇÃO DO PROFISSIONAL</h5>

                            </div>


                        </div>
                    </div>
                </div>
            }
        }
        @*Fim informações do banco*@

        @*profissional*@
        
    </div>
    @*fim row*@

</main>

@Html.Partial("_Rodape")
